@import "./Variables.css";

.main-header {
  display: flex;
  width: 100%;
  background-color: #14a13231; /* Темно-синий фон */
  padding: 15px 0;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  font-family: "Main";
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bolder;

  /* Основной цвет букв */
  color: var(--color-333) !important;

  /* Имитация контура через тень (обводит букву со всех сторон) */
  text-shadow:
    -1px -1px 0 var(--color-222),
    1px -1px 0 var(--color-222),
    -1px 1px 0 var(--color-222),
    1px 1px 0 var(--color-222);
}

.header-badge {
  display: inline-flex; /* Чтобы badge был по размеру текста, но стал флекс-контейнером */
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */

  background-color: #3498db;
  color: white;
  padding: 6px 10px 3px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-top: 5px;
  text-transform: uppercase;

  /* Добавь это, если текст все равно кажется смещенным вверх/вниз */
  line-height: 1;
}

.frog {
  size: 3rem;
  margin: 0px 50px;
}
